%h1 About

%h2 Why?
%p
  In case the blurb on the home page didn't satisfy your curiousity  Kerstman is built to solve a problem that I had with the Secret Santa's I've arranged in the past.
  There are lots of existing matchers out there but none of them take into account that there might be couples that you might not want to be matched together, thus Kerstman was born.

%h2 Kerstman?
%p
  Weird name huh? De Kerstman is dutch for Santa Claus and literally means the Christmasman.
  I really like the Christmasman part so co-opted it for this application.
