.center.jumbotron
  %h1 Kerstman

  %h2
    A Secret Santa application built with groups that have couples in them in mind.

  = link_to 'Sign up!', signup_path, class: [:btn, 'btn-lg', 'btn-primary']
