.row
  %aside.col-md-4
    %section
      %h1= @group.name
      %p
        Organiser:
        = @group.user.name
      - if @group.limit.present?
        %p
          Limit:
          = h(@group.limit)
      - else
        %p No limit set, please contact the organiser
  .col-md-8
    %h3 Participants
